
.footer_content {
    text-align: center;
    color: rgb(240, 156, 0);
    /* background-color: rgba(255, 166, 0, 0.91); */
}

.footer_main {
    padding: 50px;
}

.footer_Icons {
    text-align: center;
    padding: 20px 0;
}

.footer_Icons span {
    margin: 0 5px;
}

.footer_Icons span a {
    color: var(--text-secondary) !important;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.footer_Icons span a:hover {
    transform: scale(1.2);
}

.footer_Icons .footer_git a:hover {
    color: #6e5494 !important; /* Github color */
}

.footer_Icons .footer_link a:hover {
    color: #0077b5 !important; /* LinkedIn color */
}

.footer_Icons .footer_insta a:hover {
    color: #e1306c !important; /* Instagram color */
}

.footer_Icons .footer_wht a:hover {
    color: #25d366 !important; /* Whatsapp color */
}

.footer_Icons .footer_twi a:hover {
    color: #1da1f2 !important; /* Twitter color */
}
